<div ng-controller="SchemaDetailsrCtrl" layout-xl="row" layout-gt-md="row" layout-align="center" ng-cloak>
  <div class="left-panel" layout-xl="column" layout-gt-md="column">
  <div class="schema-report">
      <div class="details">
        <div class="app-header" layout-xl="row" layout-gt-md="row">
          <h1 class="md-toolbar-tools title-text">
            <span flex>{{currSchema | uppercase}} @ {{db | uppercase}}</span>
          </h1>
          <div ng-if="!noInfo" class='details-btn'>
            <button ng-click="changeText()" type="button" class="panel panel-default" data-toggle="collapse" data-target="#schema-info">{{text}} details &raquo;</button>
          </div>
        </div>


        <div ng-if="!noInfo" class="details-cont">
          <div id="schema-info" class="collapse">
            <table flex st-safe-src="data" class="table details-table">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>Responsible(s)</th>
                  <th>Contact</th>
                  <th>Account Status</th>
                  <th>Password Expiry Date</th>
                  <th>E-group</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in details" ng-class="{selected: $index === idSelectedRow}">
                  <td>{{row.username}}</td>
                  <td>{{row.resp_name}}</td>
                  <td>{{row.resp_email}}</td>
                  <td>{{row.account_status}}</td>
                  <td>{{row.password_expiry_date}}</td>
                  <td>{{row.egroup}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="no-info" ng-if="noInfo == true">
            <p>Account {{selectedSchema}} does not exist at {{db}} database</p>
        </div>
      </div>
    </div>


    <div class="app-sess-cotainer">
      <md-toolbar class="title1" layout-xl="row" layout-gt-md="row">
        <div class="cont-title">
          <h1 class="md-toolbar-tools title-text">
            <span flex>Session Information</span>
          </h1>
        </div>
        <div class="app-dropdown">
          <select class="btn-schema btn btn-primary dropdown-toggle" name="type" ng-model="sitem" ng-dropdown required ng-change="update()" ng-options="s.username for s in details">
          </select>
        </div>
      </md-toolbar>

      <div class="sess-table"  style="float:left; width: 100%;">
        <div class="app-sess-table1">
          <div ng-sessions-T1></div>
        </div>
      </div>

      <div class="sess-table" style="float:left; width: 100%;">
        <div class="app-sess-table2">
        <div ng-sessions-T2></div>
        </div>
      </div>

    </div>

<!-- Storage Info Box -->
      <div ng-controller="StorageInfoCtrl" class="storage-container">
      <div class="storage-dropdown">
        <select class="btn-schema btn btn-primary dropdown-toggle" name="type" ng-model="item" ng-dropdown required ng-change="update()" ng-options="s.schema_name for s in allSchemas">
        </select>
      </div>

      <div class="fency-radio-btns ">
        <div class="btn-group" ng-repeat="year in years_back track by $index">
          <label>
            <input name="storage-options" id="option$index+1" type="radio" name="selected_year" ng-model="$parent.selected_year" ng-value="year"
            />
            <span class="btn btn-primary">{{year}}</span>
          </label>
        </div>
      </div>

      <div class="chart-wrapper">
          <hc-line id="storage-container" items="storageData" class="storage-box"></hc-line>
      </div>
   </div> 
   <!-- end of StorageInfoCtrl -->
    </div>
  <!-- END of left panel -->

<div class="right-panel">
    <div ng-controller="SchemaTop10Ctrl" class="sess">
      <!-- Start of top 10 sessions charts container -->
      <!-- <md-toolbar class="dt-bar" layout-align="center"> -->
        
      <!-- Start of datetime picker container - no function at the moment-->
      <div class="layout-row dt-container">
          <div ng-controller="DateTimePickerCtrl" class="container datetimepick">
            <div class="layout-row datetimepick-fields">
              <h1 class="md-toolbar-tools title-text">
                <span flex>Query performance</span>
              </h1>

              <form class="chart-period">
                <label>From:</label>
                <input ng-model="dateTimeStart" />

                <label>To:</label>
                <input ng-model="dateTimeEnd" />
                <span>
                  <button type="button" class="btn btn-default" ng-click="updateDateTime()">
                    <i class="glyphicon glyphicon-play-circle"></i>
                  </button>
                </span>
                <button ng-click="reset()" type="button" class="btn btn-secondary">Reset</button>

              </form>
            </div>
          </div>
        </div>
        <!-- End of datetime picker container -->

        <md-progress-linear md-mode="indeterminate" class="loader" ng-if="isDataLoaded==false"></md-progress-linear>
      </md-toolbar>


      <md-content ng-if="isDataLoaded==true">
        <md-tabs md-no-ink md-no-bar md-stretch-tabs="auto" md-selected="selectedIndex" md-no-ink-bar md-dynamic-height md-border-bottom>
          <div ng-repeat="n in nodes track by $index">
            <md-tab md-on-select="OnSelectedTab(n.inst_id)">
              <md-tab-label>Node{{n.inst_id}}</md-tab-label>
              <md-tab-body class="md-padding">
                <md-content layout="row" id="chartRow">
                  <hc-pie id="buffer_gets{{$index+1}}" class="chart-box" items="chValues.buffer_gets" container="buffer_gets{{$index+1}}" title='buffer gets'></hc-pie>
                  <hc-bar id="cpu{{$index+1}}" class="chart-box" items="chValues.cpu" container="cpu{{$index+1}}"></hc-bar>
                </md-content>
                <md-content layout="row" id="chartRow">
                  <hc-bar id="disk{{$index+1}}" class="chart-box" items="chValues.disk_reads" container="disk{{$index+1}}"></hc-bar>
                  <hc-bar id="time{{$index+1}}" class="chart-box" items="chValues.elapsed_time" container="time{{$index+1}}"></hc-bar>
                </md-content>
                <md-content layout="row" id="chartRow">
                  <hc-bar id="executions{{$index+1}}" class="chart-box" items="chValues.executions" container="executions{{$index+1}}"></hc-bar>
                  <hc-bar id="rows{{$index+1}}" class="chart-box" items="chValues.rows_processed" container="rows{{$index+1}}"></hc-bar>
                </md-content>
              </md-tab-body>
            </md-tab>
          </div>
        </md-tabs>
      </md-content>
    </div>
    <!-- End of top 10 sessions charts container -->

    <!-- Table Size Info Box -->
    <div ng-controller="Top10TablesCtrl" class="toptables-container">
      <div class="row chart-head">
        <div class="fency-radio-btns">
          <div class="btn-group" ng-repeat="year in years_back track by $index">
            <label>
              <input name="tablesize-options" id="option$index+1" type="radio" name="selected_year" ng-model="$parent.selected_year" ng-value="year"
              />
              <span class="btn btn-primary">{{year}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div ng-if="isDataLoaded" class="chart-wrapper" id="chart-wrap">
            <hc-stacked id="tt-container" items="topTables" class="tables-box"></hc-stacked>
        </div>
        <div ng-if="!isDataLoaded" class="loader">Loading...</div>
      </div>
   </div> 
   <!-- end of Top10TablesCtrl -->
    
</div> 
</div>