<div layout-xl="column" layout-gt-md="column"  class="">

  <div layout-xl="row" layout-gt-md="row" layout-align="center" class="group1">
    <div ng-db-table db-name="ATONR" reduced={{'yes'}} class="ATONR"></div>
    <div ng-db-table db-name="ATLR" reduced={{'yes'}} class="ATLR"></div>
    <div ng-db-table db-name="ADCR" reduced={{'yes'}} class="ADCR"></div>
  </div>

  <div layout-xl="row" layout-gt-md="row" layout-align="center" class="group2">
    <div ng-db-table db-name="ATONR_ADG" reduced={{'yes'}} class="ATONR_ADG"></div>
    <div ng-db-table db-name="ADCR_ADG" reduced={{'yes'}} class="ADCR_ADG"></div>
  </div>

  <div layout-xl="row" layout-gt-md="row" layout-align="center" class="group3">
    <div ng-db-table db-name="INTR" reduced={{'yes'}} class="INTR"></div>
    <!-- When INTR is shut down, move INT8R to the group2 -->
    <div ng-db-table db-name="INT8R" reduced={{'yes'}} class="INT8R"></div>
  </div>
  
</div>
