<div layout="row" layout-align="center" ng-controller="DbDetailsCtrl" class="db-wrapper" ng-cloak>


  <div class="left-panel" layout-xl="column" layout-gt-md="column" layout-sm="column">
    <div class="info-btns">
      <button class="col-lg-3" ng-click="showHistory(currentDB)">Performance plots</button>
      <button class="col-lg-3" ng-click="goTo('ddl')">DDL</button>
      <!-- <button ng-click="goTo('list')">List top queries</button> -->
      <button class="col-lg-3" ng-click="goTo('streams')">StreamsMon</button>
      <button class="col-lg-3" ng-click="goTo('kill')">Kill your session</button>
    </div>

    <div class="basic-info">
      <md-toolbar class="title1">
        <h1 class="md-toolbar-tools title-text basic-info-title">
          <span flex>DB metrics overview</span>
        </h1>
      </md-toolbar>
      <div class="full-metric-list">
        <div class="group{{key}}">
          <div ng-db-table db-name={{currentDB}} reduced={{ 'no'}}></div>
        </div>
      </div>
    </div>

    <div class="session-info">
      <md-toolbar class="title1">
        <h1 class="md-toolbar-tools title-text">
          <span flex>Session distribution</span>
        </h1>
      </md-toolbar>
      <div class="session-list">
        <div ng-sess-table db-name={{currentDB}}></div>
      </div>
    </div>

    <div ng-controller="StorageInfoCtrl" class="storage-container">

<span> <!-- span is experimental to avoid the chart sqeezing in between dropdown and buttons in some occasions -->
      <div class="storage-dropdown">
        <select class="btn-schema btn btn-primary dropdown-toggle" name="type" ng-model="item" ng-dropdown required ng-change="update()"
          ng-options="s as s.schema_name for s in allSchemas">
        </select>
      </div>

      <div class="storage-years-btns">
        <div class="btn-group" ng-repeat="year in years_back track by $index">
          <label>
            <input name="options" id="option$index+1" type="radio" name="selected_year" ng-model="$parent.selected_year" ng-value="year"
            />
            <span class="btn btn-primary">{{year}}</span>
          </label>
        </div>
      </div>
</span>

      <div class="chart-wrapper">
        <hc-line id="storage-container" items="storageData" class="storage-box"></hc-line>
      </div>
    </div>
    <!-- end of StorageInfoCtrl -->
  </div>
  <!-- end of left-panel -->


  <div class="right-panel">
    <div ng-controller="Top10SessChartCtrl" class="sess">
      <!-- Start of top 10 sessions charts container -->
      <md-toolbar class="dt-bar" layout-align="center">
        <div class="layout-row dt-container">


          <!-- Start of datetime picker container -->
          <div ng-controller="DateTimePickerCtrl" class="container datetimepick">
            <div class="layout-row datetimepick-fields">
              <h1 class="md-toolbar-tools title-text">
                <span flex>Query performance</span>
              </h1>

              <form class="chart-period">
                <label>From:</label>
                <input ng-model="dateTimeStart" ng-style="dpstyleFrom"/>

                <label>To:</label>
                <input ng-model="dateTimeEnd" ng-style="dpstyleTo"/>
                <span>
                  <button type="button" class="btn btn-default" ng-click="updateDateTime()">
                    <i class="glyphicon glyphicon-play-circle"></i>
                  </button>
                </span>
                <button ng-click="reset()" type="button" class="btn btn-secondary">Reset to now</button>
              </form>
            </div>
          </div>
        </div>
        <!-- End of datetime picker container -->

        <md-progress-linear md-mode="indeterminate" class="loader" ng-if="isDataLoaded==false"></md-progress-linear>
      </md-toolbar>


      <md-content ng-if="isDataLoaded==true">
      <!-- <md-content>   -->
        <md-tabs md-no-ink md-no-bar md-stretch-tabs="auto" md-selected="selectedIndex" md-no-ink-bar md-dynamic-height md-border-bottom>
          <div ng-repeat="n in nodeNum track by $index">
             <!-- nodeNum comes from DbDetailsCtrl  -->
            <!-- <md-tab md-on-select="OnSelectedTab($index+1)" style="background:green"> -->
            <md-tab md-on-select="OnSelectedTab($index+1)">
              <md-tab-label>Node{{$index+1}}</md-tab-label>
              <md-tab-body class="md-padding">
                <md-content layout="row" id="chartRow">
                  <hc-pie id="activity{{$index+1}}" class="chart-box" items="chValues.activity" container="activity{{$index+1}}" title='activity'></hc-pie>
                  <hc-bar id="cpu{{$index+1}}" class="chart-box" items="chValues.cpu" container="cpu{{$index+1}}"></hc-bar>
                </md-content>
                <md-content layout="row" id="chartRow">
                  <hc-bar id="disk{{$index+1}}" class="chart-box" items="chValues.disk_reads" container="disk{{$index+1}}"></hc-bar>
                  <hc-bar id="time{{$index+1}}" class="chart-box" items="chValues.elapsed_time" container="time{{$index+1}}"></hc-bar>
                </md-content>
                <md-content layout="row" id="chartRow">
                  <hc-bar id="executions{{$index+1}}" class="chart-box" items="chValues.executions" container="executions{{$index+1}}"></hc-bar>
                  <hc-bar id="rows{{$index+1}}" class="chart-box" items="chValues.rows_processed" container="rows{{$index+1}}"></hc-bar>
                </md-content>
              </md-tab-body>
            </md-tab>
          </div>
        </md-tabs>
      </md-content>
    </div>
    <!-- End of top 10 sessions charts container -->


    <div ng-controller="JobsInfoCtrl" class="jobs-table">
      <!-- Start of jobs details container -->
      <div class="scroll-table jobs-container" ng-show="hasJobs == true">
        <div ng-jobs class="jobs-directive"></div>
      </div>
    </div>
    <!-- End of jobs details container -->
  </div>
</div>

<div layout-xl="row" layout-gt-md="row" layout-align="center" flex="98" class="block-container">
  <div ng-controller="BlockSessCtrl" class="block-table">
    <div class="locks">
      <md-toolbar class="title1">
        <div class="layout-row bs-title">
          <h1 class="md-toolbar-tools title-text">
            <span flex>Blocking sessions</span>
          </h1>
          <button ng-click="goToURL()" type="button" class="btn btn-secondary">Detailed Search</button>
        </div>
      </md-toolbar>
      <div class="block-tree">
        <tree-grid tree-data="treedata" ng-if="treedata" expand-level="1" icon-leaf="fa" tree-control="myTreeControl" col-defs="colDefs"
          expand-on="expanding_property"></tree-grid>
      </div>
    </div>
  </div>
</div>